<div class="row justify-content-center">
  <div class="col-10 offset-1 col-sm-6 about">
    <h1>About Splurty</h1>
  
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/Syraices">Shmulik</a>. A web developer, who wants to give you a chance to express yourself. Splurty is an opportunity to share the best unsolicited advice you've received and help your fellow entrepreneur in his endeavor. Splurt your unsolicited advice on Splurty.
    </p>
  </div>
</div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  

  <div class="row">
    <div class="col-12 col-sm-4 shmulik">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Shmulik Raices</h2>
      <br />
      <p> 
        Shmulik Raices has spent many years trying to find a career that would engage him intelectually. After five years in education, he decided it was time for a career change. He is now learning to code at GW Coding Bootcamp. He is most eager to learn all he can about coding and start his new career.
      </p>
      <br />
      <p>
        If you would like to check out his portfolio - click <a target="_blank" href="https://shmulikraices.netlify.com/"> here</a>.
      </p>
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />