<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
 <p>
    Splurty was built by <a target="_blank" href="https://github.com/Syraices">Shmulik</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    I have spent many years trying to find a career that would interest me. I think I have found my calling.
  </p>
  <p>
    If you want to check out my portfolio - click <a target="_blank" href="https://shmulikraices.netlify.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Shmulik Raices</h2>
      <br />
      <p> 
        Shmulik Raices is a budding web developer. He is most eager to learn all he can about coding.
      </p>
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />